.footer {
  align-items: center;
  background-color: $color-darkest-background;
  color: $color-white;
  display: flex;
  min-height: 9rem;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
}
