@font-face {
  font-family: "latoregular";
  src: url("../assets/lato-regular-webfont.woff2") format("woff2"),
    url("../assets/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$font-size: 16px;

$screen-xs: 768px;
$screen-sm: 992px;

* {
  font-family: "Lato", sans-serif;
}

html,
body {
  background-color: $color-background;
  color: $color-text;
  font-size: $font-size;
}
